.AppContainer {
  padding: 0;
  margin: 0;

  .logoLink {
    float: left;
    height: 4em;

    .logo {
      width: 2em;
      margin: 1em 1em;
    }
  }

  .container {
    width: 900px;
    max-width: calc(100% - 34px);
    margin: 0 auto;
  }
}
